<!-- Sidebar/menu -->
<html>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" />
<body>
<app-menu></app-menu>

<div class="w3-main" style="margin-left: 340px; margin-right: 40px; margin-top: 100px;">
  <div class="w3-row-padding">
    <div class="w3-half">
      <h2>Add Income Form</h2>
      <div class="w3-section">
        <input class="w3-input" type="text" id="type" />
        <label for="type">Income Type</label>
      </div>
      <div class="w3-section">
        <input class="w3-input" type="number" id="currentAmount" />
        <label for="currentAmount">Email</label>
      </div>
      <div class="w3-section">
        <input class="w3-input" type="number" id="goal" />
        <label for="goal">Goal</label>
      </div>

      <div class="w3-left w3-row-padding">
        <label for="recurrence" class="w3-button w3-theme" style="margin-right: 5px;">Recurrence: </label>

        <select name="recurrence" id="recurrence">
          <option value="DAILY">DAILY</option>
          <option value="WEEKLY">WEEKLY</option>
          <option value="BIWEEKLY">BI-WEEKLY</option>
          <option value="MONTHLY">MONTHLY</option>
          <option value="QUARTERLY">QUARTERLY</option>
          <option value="HALFYEAR">HALF-YEAR</option>
          <option value="YEARLY">YEARLY</option>
        </select>
      </div>
      <div class="w3-row-padding">
        <button class="w3-button w3-large w3-green" (click)="add()">Add Income</button>
      </div>
    </div>
  </div>

  <div class="w3-responsive w3-card-4" style="margin-top: 10px;">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Income table</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <table class="w3-table w3-striped w3-bordered">
          <tr>
            <th class="text-center">Income Type</th>
            <th class="text-center">Current Amount</th>
            <th class="text-center">Goal Amount</th>
            <th class="text-center">Recurrence</th>
            <th class="text-center">Yearly Amount</th>
            <th class="text-center">Actions</th>
          </tr>
          <tr *ngFor="let income of incomeList; let id = index">
            <td class="text-center">
              <span (keyup)="changeValue(id, 'type', $event)" (blur)="updateList(id, 'type', $event)" contenteditable="true">{{income.type}}</span>
            </td>
            <td class="text-center">
              <span contenteditable="true" (keyup)="changeValue(id, 'currentAmount', $event)" (blur)="updateList(id, 'currentAmount', $event)">{{income.currentAmount}}</span>
            </td>
            <td class="text-center">
              <span contenteditable="true" (keyup)="changeValue(id, 'goal', $event)" (blur)="updateList(id, 'goal', $event)">{{income.goal}}</span>
            </td>
            <td class="text-center">
              <span contenteditable="true" (keyup)="changeValue(id, 'recurrence', $event)" (blur)="updateList(id, 'recurrence', $event)">{{income.recurrence}}</span>
            </td>
            <td class="text-center">
              <span contenteditable="true" (keyup)="changeValue(id, 'yearlyAmount', $event)" (blur)="updateList(id, 'yearlyAmount', $event)">{{income.yearlyAmount}}</span>
            </td>
            <td class="w3-left">
              <span class="table-remove">
                <button type="button" size="sm" class="w3-button w3-blue w3-responsive" (click)="remove(id)" style="margin-bottom: 5px;">Edit</button>
              </span>
              <span class="table-remove">
                <button type="button" size="sm" class="w3-button w3-red w3-responsive" (click)="remove(id)">Remove</button>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>
